@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

nav {
  font-family: "Poppins", sans-serif, Ubuntu;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: aliceblue;
}

nav ul li {
  padding: 0px 12px;
}

.brand img {
  width: 55px;
  padding: 0px 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.container {
  min-height: 90vh;
  background-color: black;
  color: antiquewhite;
  font-family: "Poppins", sans-serif, Ubuntu;
  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url(Images/aq.jpg);
  background-size: contain;
}

.bottom {
  position: sticky;
  height: 100px;
  background: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items {
  margin-top: 14px;
}

.items i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: white;

  color: black;
  margin: 12px 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.songItem img {
  width: 30px;
  height: 25px;
  margin: 0 23px;
  border-radius: 34px;
}

.timesStamp {
  margin: 0 23px;
}

.timesStamp i {
  cursor: pointer;
}

.time {
  position: relative;
  bottom: 10px;
}

.songList h1 {
  color: black;
}

.songItemContainer {
  margin-top: 24px;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
